@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Varela+Round&display=swap');
@import url(botones.css);
@import url(tabla.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.cliente {
  background-color: var(--color-secundario);
}

.cliente:hover{
  background: var(--color-hover);
  color: #fff;
  transition: 500ms;
}

.producto:hover{
  background: var(--color-hover);
  color: #fff;
  transition: 500ms;
}
.empleado:hover{
  background: var(--color-hover);
  color: #fff;
  transition: 500ms;
}

.venta:hover{
  background: var(--color-hover);
  color: #fff;
  transition: 500ms;
}