@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Varela+Round&display=swap');
@import url(login.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --color-primario: #C2E5F5;
    --color-secundario: #FFFFFF;
    --color-boton: #4FB7E1;
    --color-fondo: #ECF9FF;
    --color-letra: #000;
    --color-error: #ff0000;
    --color-bien:#b2fab6;
}

small{
    display: none;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.registro{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background-color: var(--color-primario);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.container__title{
    font-size: 24px;
    font-weight: 500;
}

.container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 12px 0;
}

form .form-group{
    margin-bottom: 15px;
    width: calc(100%/ 2 - 20px);
}

form span{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group input{
    width: 100%;
    height: 40px;
    border-color: var(--color_bordes);
    outline: none;
    background: var(--color_input);
    padding-left: 15px;
    border-radius: 40px;
    transition: all 0.3s ease; 
}

.form-group select{
    width: 100%;
    height: 40px;
    border-color: var(--color_bordes);
    outline: none;
    background: var(--color_input);
    padding-left: 15px;
    border-radius: 40px;
    transition: all 0.3s ease; 
}

.form-group input.error {
    border-color: var(--color-error);
}

.form-group input.bien{
    border-color: var(--color-bien);
}
.form-group select.error {
    border-color: var(--color-error);
}

.form-group select.bien{
    border-color: var(--color-bien);
}

.form-group input:focus,
.form-group input:valid{
    border-color: var(--color-boton);
}

.form-group select:focus,
.form-group select:valid{
    border-color: var(--color-boton);
}

.button{
    width: 100%;
    height: 40px;
    margin: 40px 0;
    border: none;
}

.button input{
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    background-color: var(--color-boton);
    border: none;
    border-radius: 10px;
}

.was-validate small{
    display: block;
    color: var(--color-error);
}


@media (max-width: 700px) {

    .registro{
        max-width: 100%;
    }
    
    form .form-group{
        margin-bottom: 15px;
        width: 100%;
    }

    .container form{
        max-height: 400px;
        overflow: scroll;
    }

    container form::-webkit-scrollbar{
        width: 0;
    }

    form .button{
        margin: 20px 0;
    }

}